.board {
    width: 500px;
    height: 500px;
    float: left;
    margin: 30px;
}

/* Clearfix for the float */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Ensure that the divs do not exceed the window's width */
body {
    overflow-x: hidden;
}